<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 대시보드</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container" style="margin-top: 100px;">
    <h2 class="text-center">🔧 관리자 대시보드</h2>
    <p class="text-center">여기에 관리자 기능을 추가하세요.</p>
    <div class="text-center mt-3">
      <a href="/" class="btn btn-primary">메인으로</a>
    </div>
  </div>
</body>
</html>
