<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>로그인</h2>
    <div class="panel panel-warning">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <div th:if="${loginError}" class="alert alert-danger" th:text="${loginError}"></div>
            <div th:if="${logoutMessage}" class="alert alert-success" th:text="${logoutMessage}"></div>
            <div th:if="${joinSuccessMessage}" class="alert alert-success" th:text="${joinSuccessMessage}"></div>

            <form th:action="@{/login}" method="post">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td><input name="id" id="id" type="text" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td>PW</td>
                        <td><input name="pw" type="password" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button class="btn btn-danger" type="reset">취소</button>
                            <button class="btn btn-primary" type="submit">로그인</button>
                        </td>
                    </tr>
                </table>
            </form>
            <hr>
            <div style="text-align: center; margin-bottom: 15px;">
                <p style="margin-bottom: 10px;">아직 회원이 아니신가요?</p>
                <a th:href="${kakaoAuthUrlForRegister}" class="btn btn-warning btn-block"> <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png" alt="카카오 아이콘" style="width:22px; vertical-align: middle; margin-right: 5px;">
                    카카오로 간편하게 회원가입
                </a>
            </div>

        </div>
        <div class="panel-footer">Your Project Footer</div>
    </div>
</div>
</body>
</html>