<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Plan</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/pay_plan.css">
</head>
<body>
	<div class="container">
		<!-- 🔷 커스텀 헤더 -->
		<div
			class="custom-header d-flex justify-content-between mb-4 align-items-center">
			<div class="logo d-flex align-items-center">
				<a href="/">
					<img src="/images/로고.png" alt="로고">
				</a>
			</div>
			<div class="header-buttons">
				<a href="/mypage" class="btn btn-default">Mypage</a> <a href="/logout"
					class="btn btn-default">Logout</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="plan-box">
					<h4 th:text="${liName}">자격증 이름</h4>
					<h3>자유형</h3>
					<p class="text-muted">자유롭게 공부하고 싶으신가요?</p>
					<div class="plan-price" th:text="${freePlan.planPrice + '원'}">9000원</div>
					<div class="highlight">현재 00명이 이용중입니다.</div>
					<div class="plan-desc">
						<strong>탐색형 제공 서비스 나열 / 설명</strong>
						<ol>
							<li>주제별 풀이</li>
							<li>실제 시험 환경 풀이</li>
							<li>시험 합격시 환급</li>
							<li>등등</li>
						</ol>
					</div>
					<a href="/pay?plan=자유형" class="btn btn-dark select-button">☞
						Select Plan</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="plan-box">
					<h4 th:text="${liName}">자격증 이름</h4>
					<h3>계획형</h3>
					<p class="text-muted">혹시 혼자서 공부 안하는 스타일? 우리가 알아서 계획 짜줄게!</p>
					<div class="plan-price" th:text="${strictPlan.planPrice + '원'}">9900원</div>

					<div class="highlight">현재 00명이 이용중입니다.</div>
					<div class="plan-desc">
						<strong>필수형 제공 서비스 나열 / 설명</strong>
						<ol>
							<li>탐색형 서비스</li>
							<li>문자 알림 서비스</li>
							<li>일일 할당량 제공 서비스</li>
						</ol>
					</div>
					<a href="/pay?plan=계획형" class="btn btn-dark select-button">☞
						Select Plan</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
