<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Insert title here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/test.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>

</head>
<body>
	<input type="hidden" id="liIdx" th:value="${liIdx}" />
	<input type="hidden" id="liName" th:value="${liName}" />
	<input type="hidden" id="liTime" th:value="${liTime}" />
	<input type="hidden" id="liTimeSec" th:value="${liTimeSec}" />
	<input type="hidden" id="liPbc" th:value="${liPbc}" />
	<input type="hidden" id="name" th:value="${member.name}" />
	<input type="hidden" id="userId" th:value="${member.id}" />
    <input type="hidden" name="liChap1" th:value="${liChap1}" />
    <input type="hidden" name="liChap2" th:value="${liChap2}" />
    <input type="hidden" name="liChap3" th:value="${liChap3}" />
    <input type="hidden" name="liChap4" th:value="${lliChap4}" />
    <input type="hidden" name="liChap5" th:value="${liChap5}" />
    <input type="hidden" name="liChap6" th:value="${liChap6}" />
    
    <div id="loadingOverlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;
		background-color:rgba(0,0,0,0.5); z-index:9999; color:white; font-size:24px; text-align:center; padding-top:20%;">
		채점 중입니다... 잠시만 기다려주세요.
    </div>
    
    
	<div class="container">
      <div class="panel panel-warning">
         <!-- <div class="panel-heading">examPage -->
         <div class='header-block'>
         		<div class='test-nm-block'>
         			<!-- 자격증 인덱스, 자격증 이름 -->
         		    <label id="sheetNum" class="sheetNum" th:text="${liIdx}"></label>
         			<label class="test-info-testNm" th:text="${liName}"></label>
         			
         			<label style="position: absolute; right: 70px; bottom: 23px;"><button onclick="lotto()">수험번호 뽑기</button></label>
         			<label style="position: absolute; right: 70px; bottom: -5px;"><button onclick="lottoName()">수험이름 뽑기</button></label>
         		</div>
         		<div class='user-info-block'>
         			<div class="user-id-block">
         				<span class="user-info-userId-label">수험번호 : </span>
         				<input id='lotto' class="user-info-userId" readonly="true" onfocus="this.blur()" style="cursor:default;" value="7777">
         			</div>
         			<div class="user-nm-block">
         				<span class="user-info-userNm-label">수험자명 : </span>
         				<input id='lottoName' class="user-info-userNm" readonly="true" onfocus="this.blur()" style="cursor:default;" th:value="${member.name}">
         			</div>
         		</div>
				<div id ='timerImage' class='test-timer-block' style="background-image:url(&quot;https://www.q-net.or.kr/cbt/viewer/images/clock_icon.gif&quot;) !important">
					<div class='max-time-block'>
						<label class='label-max-time'>제한 시간 : 
							<label class='test-max-time-control' th:text="${liTime}"></label>
						</label>
					</div>
					<div class='left-time-block'>
						<label class='label-left-time'>남은 시간: </label>
						<input class='test-left-time-control saningong_timer panel_saningong_timer' readonly='true'  onfocus='this.blur()' style='cursor:default;' ctrl='saningong_timer' >
						<input class='left-time-hidden' style='display:none;'>
					</div>
	         </div>
         </div>
         <div class="panel-body">
            <div class='text-box'>
            	<div class='section-tool-block'>
		            <div class='screen-tool'>
		         		<!-- 100% 150% 200% 배치 ㅡ : 한줄로 보기 ㅣ : 두줄로 보기 ㅁ : 한문제 보기 -->
		         		<div class='zoom-tool'>
		         			<span class='zoom-tool-title'>글자크기</span>
			         		<button id="zoom14" class='zoomBtn' onclick="magnification(14)" style='background: url(/images/100.gif) no-repeat;'></button>
			         		<button id="zoom20" class='zoomBtn' onclick="magnification(20)" style='background: url(/images/150.gif) no-repeat;'></button>
			         		<button id="zoom25" class='zoomBtn' onclick="magnification(25)" style='background: url(/images/200.gif) no-repeat;'></button>
			         	</div>
			         	<div class='layout-tool'>
			         		<span class='layout-tool-title'>화면배치</span>
							<button id="oneLine" onclick="arrangement('oneLine')" class='layoutBtn' style='background: url(/images/one.gif) no-repeat;'></button>
							<button id="twoLine" onclick="arrangement('twoLine')" class='layoutBtn' style='background: url(/images/two.gif) no-repeat;'></button>
			         	</div>
		         	</div>
		         	<div class='section-name-block'></div>
		         	
		         	<div class='progress-info-block'>
		         		<div class="total-count-block">전체 문제 수&nbsp;&nbsp;: 
			         		<span class="count-info-total"  th:text="${liPbc}" ></span>
		         		</div>
		         		<div class="unsolved-count-block">안 푼 문제 수 : 
			         		<span id="solCount" class="count-info-unsolved"  th:text="${liPbc}"></span>
		         		</div>
		         	</div>
		         	
         		</div>
				  <!-- 문제 출력 영역 -->
				  <input type="hidden" id="category" th:value="${category}" />
				  <div id="print" class='test-page-block-holder'></div>
				  
				 <div class="scoreBackground" >
					<div id="scoreBox" class="scoreBox">
					
					  <!-- 상단 안내 -->
					  <div class="scoreComment" style="display: flex; align-items: center; margin-top: 50px;">
					    <img src="images/icon_title_megaphone.gif" style="width: 24px; height: 24px; vertical-align: middle;">
					    <span id="comment" style="margin-left: 10px;"></span>
					  </div>
					
					  <!-- 하단 참고 문구 -->
					  <div style="margin-bottom: 20px;">
					    <p style="margin: 0;">※ 지역별, 종목별로 상이하므로 큐넷(http://www.q-net.or.kr) 시험일정 안내를 참고하시기</p>
					  </div>
					
					  <!-- 점수 표 -->
					  <div class="scoreText">
					    <div>수험자 이름</div>
					    <div>응시 종목</div>
					    <div>점수</div>
					    <div>합격 여부</div>
					  </div>
					  <div class="scoreValue">
					    <div th:text="${member.name}"></div>
					    <div th:text="${liName}"></div>
					    <div id="score"></div>
					    <div id="pass"></div>
					  </div>
					  <br>
					  
					  <!-- 과목점수 -->
					  <div class="scoreText">
					  	<div th:text="${liChap1}"></div>
					  	<div th:text="${liChap2}"></div>
					  	<div th:text="${liChap3}"></div>
					  	<div th:text="${liChap4}"></div>
					  	<div th:text="${liChap5}"></div>	
						<div th:text="${liChap6}" th:attr="style=${liChap6 == null} ? 'display:none;' : ''"></div>		  
					  </div>
					  <div class="scoreValue">
					  	<div id="liChap1"></div>
					  	<div id="liChap2"></div>
					  	<div id="liChap3"></div>
					  	<div id="liChap4"></div>
					  	<div id="liChap5"></div>
					  	<div id="liChap6" th:attr="style=${liChap6 == null} ? 'display:none;' : ''"></div>			  
					  </div>
					
					  <!-- 안내 문구 -->
					  <div style="margin-top: 20px; text-align: center;">
					    "득점 및 합격여부를 확인하셨습니까?"
					  </div>
					
					  <!-- 버튼 -->
					  <div style="margin-top: 10px; text-align: center;">
					    <button type="button" onclick="goToLicense()">확인 완료</button>
					  </div>
					
					</div>
				</div>
			</div>
				  <!-- 답안 표기란 -->
				  <div id="number" class="number-box"></div>
         </div>
         <div class="footer-block">
         		<div class="footer-left-block">					
         			<button id="btnCaculator" >
	         			 <img src="/images/cal.gif" class="calculator_icon">
	         			 <span class="calculator_label">계산기</span>
         			 </button>
         			 <div id="volumeIcon" class="button_volume_on" style="display:none;"></div>
         			<div id="volumeSlider"></div>
         		</div>
         		<div class="footer-center-block">
         		    <button id="prev-page" class="prev-page" onclick="prevPage()">◀ 이전</button>
         		   	<label id="pageIndex" class="page-position-label">1/3</label>
         		   	<button id="next-page" class="next-page" onclick="nextPage()">다음 ▶</button>
         		 </div>
         		 <div class="footer-right-block">
         		 	<button id="btnUnsolved" onclick="unsolved()">
         		 		<img src="/images/unsolved_icon.gif" class="unsolved_icon">
         		 		<span class="unsolved_label">안 푼 문제</span></button>
         		 	<button id="btnLabel" type="button" onclick="examSubmit()">
         		 		<img src="/images/submit_icon.gif" class="submit_icon">
         		 		<span class="submit_label">답안 제출</span></button>
         		  </div>
         	</div>
      </div>
   </div>
   
   <!-- 레이어 팝업 -->
<div id="unsolvedPopup" style="display:none; position:fixed; top:100px; left:50%; transform:translateX(-50%);
     background: white no-repeat 2px 4px; border:3px solid #3664b1; border-radius:4px; z-index:9999; width:400px; box-shadow:0 0 10px rgba(0,0,0,0.3);">

  <div style="background: #eefbfa; padding:8px; display:flex; justify-content:space-between; align-items:center;">
    <span style="color:#2a68af; font-weight:bold;"><img src= "/images/ico_what.gif"> 안 푼 문제 번호 보기: <span style="font-weight:bold;">번호 클릭시 해당 문제로 이동합니다.</span></span>
    <button onclick="hideUnsolvedPopup()" style="border:none; background:none; font-size:16px;">✕</button>
  </div>

  <div id="unsolvedList" style="padding:12px; display:flex; flex-wrap:wrap; gap:6px;"></div>
</div>

   
   <script type="text/javascript">
   let currentPage = 0;    // 현재 페이지 (0부터 시작)
   let score = 0; // 점수
   const PageExam = []; // 한 페이지당 10개씩 담긴 문제리스트
   const pageExamNum = 10; // 한페이지당 10문제(고정)
   const userSelections = {}; // 유저가 선택한 번호 저장
   const solvedStatus = {}; // 문제 번호 -> 0 or 1
   const PbsData = [];  // 서버로 보낼 채점 데이터
   const pbNum = []; // 문제 번호
   const pbAns = []; // 정답 데이터
   const pbIdx = []; // 문제 인덱스
   const category = $("#category").val(); // 카테고리 값( 회차)
   const token = $("meta[name='_csrf']").attr("content");
   const header = $("meta[name='_csrf_header']").attr("content");
   const circledNumbers = ["①", "②", "③", "④"]; // 문제 번호 : 선택 선지 텍스트
   const liIdx = $("#liIdx").val(); // liIdx값
   const userId = $("#userId").val(); // 유저 Id

   
   
	$(document).ready(function(){
		// ready() : html 코드가 준비가 되면 실행되는 메소드
		// 게시글을 모두 가져올 수 있는 메소드!
		loadExam();
		Number();
	});
	
	document.addEventListener("DOMContentLoaded", function () {
		  const sec = parseInt(document.getElementById("liTimeSec").value, 10);
		  if (!isNaN(sec)) {
		    timer(sec);
		  }
		});
	
	function timer(sec) {
		  const input = document.querySelector('.saningong_timer');
		  const update = () => {
		    if (sec < 0) return;
		    const h = String(Math.floor(sec / 3600));
		    const m = String(Math.floor((sec % 3600) / 60)).padStart(2, '0');
		    const s = String(sec % 60).padStart(2, '0');
		    input.value = `${h}시 ${m}분 ${s}초`;
		    sec--;
		  };
		  update();
		  setInterval(update, 1000);
		}
	
	// 문제 배율
	function magnification(value) {
		$("#print").css("font-size",value);
		if(value=="14"){
		$("#zoom14").css("background","url(/images/100-click.gif) no-repeat");
		$("#zoom20").css("background","url(/images/150.gif) no-repeat");
		$("#zoom25").css("background","url(/images/200.gif) no-repeat");
		}if(value=="20"){
		$("#zoom"+value).css("background","url(/images/150-click.gif) no-repeat");
		$("#zoom14").css("background","url(/images/100.gif) no-repeat");
		$("#zoom25").css("background","url(/images/200.gif) no-repeat");
		}if(value=="25"){
		$("#zoom"+value).css("background","url(/images/200-click.gif) no-repeat");
		$("#zoom14").css("background","url(/images/100.gif) no-repeat");
		$("#zoom20").css("background","url(/images/150.gif) no-repeat");
		}
	}
	
	// 문제 배치
	function arrangement(value) {
		if(value === "oneLine"){	
		    $("#print").css({
		    	"display": "block"
		    });
		    $("#oneLine").css("background","url(/images/one-click.gif) no-repeat");
		    $("#twoLine").css("background","url(/images/two.gif) no-repeat");
		}else if(value === "twoLine"){	
		    $("#print").css({
		        "display": "flex",
		        "flex-wrap" : "wrap",
		        "width": "100%",
		        "align-items": "flex-start"
		    });
		    $("#oneLine").css("background","url(/images/one.gif) no-repeat");
		    $("#twoLine").css("background","url(/images/two-click.gif) no-repeat");
		}
/* 		else if(value === "singleQuestion"){	
			$("#print").css("column-count",1);
		} */
	}
	
	// 오른쪽 1~100까지 숫자
	function Number() {
		
		let num = "";
		
		num += "<div style='text-align:center; color: #fff; background: url(/images/answer.gif) #6689C5; height: 47px; line-height: 46px; font-size: 1.6em; font-weight: bold; border-bottom: 1px solid #fff;'>답안표기란</div>";

		// 100문제 for문
		for (let i = 1; i <= 100; i++) {
		  num += "<div style='height: 42.85px;'>";
		  num += "<label onclick='goNum("+ i +")' class='rightNum'>" + i + "</label>";
		  num += "<span class='rightChoice'>";
		  
		  for (let j = 1; j<= 4;  j++) {
		    num += "<img id='number" + i + "-" + j + "' src='/images/n" + j + ".jpg' style='padding: 3px;' onclick='selectChoice("+i+","+j+")'>";
		  }
		
		  num += "</span>";
		  num += "</div>";
		}
		
		$("#number").html(num);
	}
	

 	// 번호이동
function goNum(i) {
  const page = Math.floor((i - 1) / pageExamNum); // 몇 번째 페이지인지 계산

  // 현재 페이지와 다르면 먼저 페이지 변경
  if (page !== currentPage) {
	 renderPage(page);  // 페이지 로드 후 스크롤하려면 약간의 딜레이 필요

    setTimeout(() => {
      document.getElementById(i)?.scrollIntoView({ behavior: 'smooth' });
    }, 200); // 페이지 로딩 시간 고려해서 약간 대기 (조정 가능)
  } else {
    document.getElementById(i)?.scrollIntoView({ behavior: 'smooth' });
  }
}
	 
//1. 문제 불러오기
 function loadExam() {
	
	
   $.ajax({
     url: "/loadExam",
     type: "post",
     dataType: "json",
     data: { "category":category, "liIdx":liIdx },
     beforeSend: function(xhr) {
    	    xhr.setRequestHeader(header, token);  // ⬅️ CSRF 토큰 꼭 붙여줘야 함
    	  },
     success: function (data) {
       	   allExData = data;
       		// 10개씩 쪼개기
       		for(let i = 0; i<100; i++){
       	  		 pbIdx[i] = allExData[i].pbId;
     }
		   for (let i = 0; i < allExData.length / 10; i++) {   // 페이지 수
			   let examSlice = [];

			   for (let j = 0; j < 10; j++) {     // 각 페이지당 10문제
			     let idx = i * 10 + j; // 0~9번만 반복되지 않게 i 값 *10을 더해주기
			     examSlice.push(allExData[idx]); // 10개 데이터 push
			     pbAns[idx] = allExData[idx].pbAns;
			   }

			   PageExam.push(examSlice); // 10개로 묶인 데이터 push
			 }
		  
		   renderPage();
		   
     },
     error: function () {
       alert("error");
     },
   });
 }


 // 2. 랜더링
 function renderPage(pageNum = 0) {
	currentPage = pageNum;  // 현재 페이지를 업데이트해줌
   // 현재 페이지와 페이지당 문제 수를 곱해 이 페이지의 첫 번째 문제 인덱스를 계산.
   const startIdx = currentPage * pageExamNum;
   const exam = PageExam[currentPage];
   let listHtml = "";	

   for (let j = 0; j < exam.length; j++) {
	     let problem = exam[j];
	   	 const qNum = startIdx + j + 1; // 문제 번호
	     pbNum[j] = problem.pbNum; // 문제 번호 가지고 오기 → 과목별 점수 계산 할 때 사용
	     
	     // 한 문제 div
	     listHtml += "<div class='oneExam' id='" + qNum + "' style='width: 50%;'>";
	     
	     // 문제 지문
	     listHtml += "<p><strong>문제" + qNum + ".</strong> " + problem.pbQues + "</p>";
	     // 문제 디테일
	     if (problem.pbDetail != null) {
	       listHtml += "<br><div><img src='" + problem.pbDetail + "'></div><br>";
	     }

	     // 문제 선지
	     for (let k = 1; k <=4; k++) {
	       let choiceText = problem["pbChoi" + k];
	       const isSelected = userSelections[qNum] === k;
	       const choiceSymbol = isSelected ? "●" : circledNumbers[k - 1];

	       // 문제 선지 묶음 div
	       listHtml += "<div class='choice' id='choice" + qNum + "-" + k +
	                   "' onclick='selectChoice(" + qNum + "," + k + ", \"" + choiceText + "\")' style='display: flex; cursor:pointer;'>";

	       // 문제 번호
		   listHtml += "<div class='oneChoiceNum' id='choiceNum" + qNum + "-" + k + "' style='font-family: monospace;'>" + choiceSymbol + " &nbsp; </div>";

	       // 이미지가 있는지 판단
	       if (choiceText.includes("http")) {
	         listHtml += "<div class='oneChoice' id='choiceText" + qNum + "-" + k + "'><img src='" + choiceText + "'></div></div>";
	       } else {
	         listHtml += "<div class='oneChoiceText' id='choiceText" + qNum + "-" + k + "' ' >" + choiceText + "</div></div>";
	       }
	     }

	     listHtml += "<br></div>"; // 한 문제 끝
	     
	  // ✅ 답안표기란 이미지 복원
	     for (let i = 1; i <= 100; i++) {
	         const selected = userSelections[i];
	         if (selected) {
	             $(`#number${i}-${selected}`).attr("src", "/images/marking.jpg");
	         }
	     }

	 }

   // 버튼 보이기 조건 처리
   const totalExamCount = PageExam.length * pageExamNum;
   document.getElementById("prev-page").style.display = currentPage > 0 ? "inline-block" : "none";
   document.getElementById("next-page").style.display = (currentPage + 1) * pageExamNum < totalExamCount ? "inline-block" : "none";

  	 $("#print").html(listHtml);
  	 
	   const maxPage = Math.floor(100 / pageExamNum);
	   $("#pageIndex").text((currentPage+1)+"/"+maxPage);
  	 
 	}
 
	
// 번호 클릭시 발생하는 함수(문제번호,선지번호,선지내용)
function selectChoice(questionNum, choiceNum) {
 
	  let current = parseInt($("#solCount").text(), 10); // 안 푼 문제 수 체크하기 위해 현재 숫자 읽기
	  $("#solCount").text(current -1);  // 풀었을 경우 1 빼기
	
 // 선택한 선지내용
 const currentSelection = userSelections[questionNum];
 console.log("콘솔: "+currentSelection);
 // 지금 클릭한 선지가 이미 선택된 것과 같은지 비교하기 위함.
 if (currentSelection === choiceNum) {
    // 같은 번호 다시 클릭 → 선택 해제
	    // 선택 해제
	    delete userSelections[questionNum];
	    solvedStatus[questionNum] = 0; // 안 푼 상태로 설정
	    
	    $("#solCount").text(current +1);  // 같은 번호 클릭 시 1 다시 더하기
	    
	    
	    $(`#choiceNum${questionNum}-${choiceNum}`).text(circledNumbers[choiceNum - 1]);
	    $(`#number${questionNum}-${choiceNum}`).attr("src", `/images/n${choiceNum}.jpg`);

  } else {
    // 다른 번호 클릭 or 처음 선택 → 새로 선택 처리
     const isFirstSelection = !userSelections[questionNum];
    userSelections[questionNum] = choiceNum;
    solvedStatus[questionNum] = choiceNum; // 1로 상태 저장


    // 모든 이미지를 체크 없는 이미지로 변경 후 클릭한 이미지를 다시 체크한 이미지로 변경
    for (let i = 1; i <= 4; i++) {
        $(`#choiceNum${questionNum}-${i}`).text(circledNumbers[i - 1]);
        $(`#number${questionNum}-${i}`).attr("src", `/images/n${i}.jpg`);
      }
      $(`#choiceNum${questionNum}-${choiceNum}`).text("●");
      
      $(`#number${questionNum}-${choiceNum}`).attr("src", "/images/marking.jpg");
    }
}
	
	

	function unsolved() {
		
		  const container = document.getElementById("unsolvedList");
		  container.innerHTML = ""; // 초기화
		  
		  // 안 푼 문제 번호들 가져오기 (0 또는 undefined인 문제들)
		  const unsolved = [];
		  for (let i = 1; i <= 100; i++) {
		    if (solvedStatus[i] >= 1) {
		    }else{
		      unsolved.push(i);	    	
		    }
		  }
		  
			  if (unsolved.length === 0) {
				    container.innerHTML = "<p>모든 문제를 푸셨습니다!</p>";
				  } else {
				    unsolved.forEach(qNum => {
				      const btn = document.createElement("button");
				      btn.innerText = qNum;
				      //console.log(qNum);
				      btn.className = "btn btn-outline-secondary btn-sm";
				      btn.onclick = () => { // 클릭시 이벤트
				    	    document.getElementById("unsolvedPopup").style.display = "none"; // 팝업 창 제거
				    	    goNum(qNum); // qNum으로 이동
 				      };
				      container.appendChild(btn);
				    });

				  }

				  document.getElementById("unsolvedPopup").style.display = "block";
				}

				function hideUnsolvedPopup() {
				  document.getElementById("unsolvedPopup").style.display = "none";
				}
				
				// 시험 제출 함수 (시작점)
				function examSubmit() {
				  // 안 푼 문제는 0으로 초기화
				  for (let i = 1; i <= 100; i++) {
				    if (solvedStatus[i] === undefined) {
				      solvedStatus[i] = 0;
				    }
				  }

			        // 채점 로직 실행 → 점수 + 전송용 데이터 생성
			        const result = gradeExam(pbAns,pbNum);

			     	// 로딩창 띄우기
			        showLoading();
			     
			        // 서버에 채점 결과 전송
			        sendPbsData(result.pbsData).done(function () {
			     		// 1.5초(=1500밀리초) 후에 결과 UI 업데이트 실행
			            setTimeout(function () {
			              updateResultUI(result.score);
			            }, 1500);
			          });
				}

				// 채점 함수: 정답과 비교해 점수 계산 및 전송할 데이터 준비
				function gradeExam(correctData) {
				  const pbsCheck = [];                  // 문제별 정오 배열
				  let score = 0;
				  const now = new Date(); // 현재 시간 계산
				  const pbsAt = now.getFullYear() + "-" +
				                String(now.getMonth() + 1).padStart(2, '0') + "-" +
				                String(now.getDate()).padStart(2, '0') + "T" +
				                String(now.getHours()).padStart(2, '0') + ":" +
				                String(now.getMinutes()).padStart(2, '0') + ":" +
				                String(now.getSeconds()).padStart(2, '0'); // db에 들어갈수있게 형태 수정

				  for (let i = 1; i <= 100; i++) {
				    // 정답 비교하여 점수 및 pbsCheck 설정
				    if (solvedStatus[i] == pbAns[i - 1]) {
				      score++;
				      pbsCheck[i] = 1;
				    } else {
				      pbsCheck[i] = 0;
				    }

				    // 개별 문제 데이터 객체 생성하여 배열에 저장
				    PbsData[i - 1] = {
				      pbNum: pbNum[i - 1],
				      userId: userId,
				      pbIdx: pbIdx[i - 1],
				      pbsCheck : pbsCheck[i],
				      pbsAt: pbsAt,
				    };
				  }

				  // 점수와 데이터 반환
				  return { score, pbsData: PbsData };
				}

				// 채점 결과를 서버에 전송하는 Ajax
				function sendPbsData(pbsData) {					
					console.log("📦 보내는 데이터:", pbsData);
					const exCat = $("#category").val(); // 회차 정보
					console.log("회차 인덱스: ", exCat);
					
				  return $.ajax({
				    url: `/submitPbsData?exCat=${encodeURIComponent(exCat)}`,
				    type: "post",
				    contentType: "application/json",
				    data: JSON.stringify(pbsData),
				    beforeSend: function(xhr) {
				        xhr.setRequestHeader(header, token);  // CSRF 토큰 전송 (있으면)
				      },
				    success: function () {
				      console.log("채점 결과 전송 완료");
				    },
				    error: function () {
				      alert("채점 결과 전송 실패!");
				    }
				  });
				}

				// 점수에 따라 UI 표시 변경
				function updateResultUI(score) {
					
					$.ajax({
						url: "/chapResult/"+userId,
						type: "post",
						dataType: "json",
					    beforeSend: function(xhr) {
					    	   xhr.setRequestHeader(header, token);  // ⬅️ CSRF 토큰 꼭 붙여줘야 함
					    	 },
					     success: function (data) {
								const scoreBox = $("#scoreBox").clone(true); // 💡 원래 이벤트 등 유지하며 복사
								$("body").empty();                           // 🔥 body 전체 비우고
								$("body").append(scoreBox);                  // ✅ #scoreBox만 다시 추가
								scoreBox.css("display", "flex");             // flex 설정
								
								const liChap = data[0];
								
							    $("#liChap1").text(liChap.scChap1);
							    $("#liChap2").text(liChap.scChap2);
							    $("#liChap3").text(liChap.scChap3);
							    $("#liChap4").text(liChap.scChap4);
							    $("#liChap5").text(liChap.scChap5);


							   $("#score").text(score);                // 점수 출력

							   if (score > 60) {
							     $("#comment").text("합격을 축하드립니다.");
							     $("#pass").text("합격");
							   } else {
							     $("#comment").text("다음 기회에 꼭 합격하시길 기원합니다.");
							     $("#pass").text("불합격");
							   }
					    	 
					     },
					     error: function(){alert("에러났음!");}
				
					});

				}
				
				function showLoading() {
					  $("#loadingOverlay").fadeIn();
					}

					function hideLoading() {
					  $("#loadingOverlay").fadeOut();
					}

		  


function prevPage() {
  if (currentPage > 0) {
	  renderPage(currentPage -1	);
    $(".test-page-block-holder").animate({ scrollTop: 0 }, 300); // 300ms 동안 부드럽게 스크롤 0 으로 이동
  }
}

function nextPage() {
	  const maxPage = Math.floor(100 / pageExamNum);
	  if (currentPage < maxPage - 1) {
	    currentPage++;
	    renderPage(currentPage);
    $(".test-page-block-holder").animate({ scrollTop: 0 }, 300); // 300ms 동안 부드럽게 스크롤 0 으로 이동
  }
}

function lotto(){
    // 10000000부터 99999999 사이의 무작위 정수 생성
    const number = Math.floor(Math.random() * 90000000) + 10000000;
    $("#lotto").val(number);
}
function lottoName() {
	  const words = ["모성현","손종희","이영동","이조은","오장훈","최유정"];
	  let result = "";


	    const randIndex = Math.floor(Math.random() * words.length);
	    result += words[randIndex];

	  $("#lottoName").val(result);
	}

  
function goToLicense() {
    if (liIdx) {
      window.location.href = "/license?liIdx=" + liIdx;
    } else {
      alert("liIdx 값이 없습니다.");
    }
  }
 
   </script>
   
   
</body>
</html>
